<div class="section_general">
    <!-- BANNER CAMBIOS Y DEVOLUCIONES -->
    <div class="banner banner_cambios">
        <h2>Cambios y devoluciones</h2>
    </div>

    <div class="col-12 col-md-11 col-lg-10 col-xl-8 mx-auto cambios-content">
        <div class="cambiosMensaje row mx-0">
            <div class="col-12 col-md-auto p-4 order-1 order-md-0 text-center">
                <img src="assets/images/exchange/icon.png" class="img-fluid me-md-2">
            </div>
            <div class="col-12 col-md order-0 order-md-1 py-3">
                <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia non ducimus ullam ex officiis. Quod debitis nulla itaque! Aperiam praesentium odit molestiae non, velit inventore. Ea molestiae amet blanditiis exercitationem repellat, aliquam ipsum recusandae ipsam labore numquam rerum accusamus quisquam. Ea molestiae amet blanditiis exercitationem repellat, aliquam ipsum recusandae ipsam labore numquam rerum accusamus quisquam.</p>
            </div>
        </div>

        <!-- CAMBIOS 1 -->
        <div class="cambios1">
            <h2><img src="assets/images/exchange/icon-2.png" class="img-fluid me-2 me-md-3">Plazos para cambios y devoluciones</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error unde quas beatae dolores. Ea, nulla voluptas? Incidunt assumenda, placeat exercitationem nemo, odit iste nam dignissimos optio dolorem temporibus inventore animi?</p>
        </div>
        <div class="cambios1">
            <h2><img src="assets/images/exchange/icon-2.png" class="img-fluid me-2 me-md-3">¿A dónde debes acercarte?</h2>
            <div class="row mx-0 ms-4 ms-xl-5">
                <div class="col-12">
                    <div class="row mx-0 mb-3 cambios-item">
                        <div class="col-auto px-0">
                            <img src="assets/images/times/piska.png" class="img-fluid">
                        </div>
                        <div class="col">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam quas deleniti fugit eaque, sunt quis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam quas deleniti fugit eaque, sunt quis.</p>
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="col-auto px-0">
                            <img src="assets/images/times/piska.png" class="img-fluid">
                        </div>
                        <div class="col">
                            <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam quas deleniti fugit eaque, sunt quis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam quas deleniti fugit eaque, sunt quis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cambios1">
            <h2><img src="assets/images/exchange/icon-2.png" class="img-fluid me-2 me-md-3">Requisitos</h2>
            <div class="row mx-0 ms-4 ms-xl-5">
                <div class="col-12 col-md-6 pe-xl-5">
                    <div class="row mx-0 mb-3 cambios-item">
                        <div class="col-auto px-0">
                            <img src="assets/images/times/piska.png" class="img-fluid">
                        </div>
                        <div class="col">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam quas deleniti fugit eaque, sunt quis.</p>
                        </div>
                    </div>
                    <div class="row mx-0 mb-3 mb-md-0">
                        <div class="col-auto px-0">
                            <img src="assets/images/times/piska.png" class="img-fluid">
                        </div>
                        <div class="col">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam quas deleniti fugit eaque, sunt quis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 ps-xl-5">
                    <div class="row mx-0 mb-3 cambios-item">
                        <div class="col-auto px-0">
                            <img src="assets/images/times/piska.png" class="img-fluid">
                        </div>
                        <div class="col">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam quas deleniti fugit eaque, sunt quis.</p>
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="col-auto px-0">
                            <img src="assets/images/times/piska.png" class="img-fluid">
                        </div>
                        <div class="col">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam quas deleniti fugit eaque, sunt quis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cambios1">
            <h2><img src="assets/images/exchange/icon-2.png" class="img-fluid me-2 me-md-3">Es importante conocer</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt suscipit dicta iusto porro totam eligendi inventore, unde nihil dolor odio. Veritatis voluptate iste corrupti magnam saepe repellat placeat fugiat odio fugit deleniti, eos adipisci eligendi earum vitae quisquam necessitatibus fuga quae dignissimos non. Tempora, numquam error nemo quam exercitationem doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt suscipit dicta iusto porro totam eligendi inventore, unde nihil dolor odio. Veritatis voluptate iste corrupti magnam saepe repellat placeat fugiat odio fugit deleniti, eos adipisci eligendi earum vitae quisquam necessitatibus fuga quae dignissimos non. Tempora, numquam error nemo quam exercitationem doloremque.</p>
        </div>
    </div>
</div>