<div class="section_general">
    <!-- BANNER NOSOTROS -->
    <div class="banner banner_nosotros">
        <h2>Colecciona el arte<br><span>hecho a mano</span></h2>
    </div>

    <div class="content-nosotros">
        <!-- NOSOTROS 1 -->
        <div class="nosotros1">
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod recusandae, modi commodi eaque
                id, ut eveniet delectus accusantium, perspiciatis cumque dolores sit? Sint aliquam tenetur reprehenderit
                eligendi sunt ex! Cupiditate perspiciatis ducimus exercitationem. Dolor blanditiis aliquam possimus
                cupiditate amet eius!. Quod recusandae, modi commodi eaque id, ut eveniet delectus accusantium,
                perspiciatis cumque dolores sit? Sint aliquam tenetur reprehenderit eligendi sunt ex! Cupiditate
                perspiciatis ducimus exercitationem. Dolor blanditiis aliquam possimus cupiditate amet eius!</p>
            <p class="text-dorado mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate odio quod enim.
                Hic ipsa corrupti facere assumenda dolorem nihil recusandae? Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Voluptate odio quod enim. Hic ipsa corrupti facere assumenda dolorem nihil recusandae?
            </p>
            <div>
                <img src="assets/images/about/img01.png" class="img-fluid">
            </div>
        </div>

        <!-- NOSOTROS 2 -->
        <div class="home4 nosotros2">
            <div class="row home4-1 mx-0">
                <div class="col-12 col-md-6 col-xl-5 home4-1-text">
                    <h2>MISIÓN</h2>
                    <p class="home-text-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad reprehenderit aut ipsam facilis repudiandae culpa ipsa assumenda consectetur iusto unde consequuntur pariatur, eveniet eum rerum natus obcaecati optio mollitia. Dolores.</p>
                </div>
                <div class="col-12 col-md-6 col-xl-7 home4-1-img px-3">
                    <div style="background-image: url(assets/images/about/img02.jpg);"></div>
                </div>
            </div>
            <div class="row home4-1 mx-0">
                <div class="col-12 col-md-6 col-xl-7 home4-1-img mb-0 px-3 order-1 order-md-0">
                    <div style="background-image: url(assets/images/about/img03.jpg);"></div>
                </div>
                <div class="col-12 col-md-6 col-xl-5 home4-1-text mb-md-0 order-0 order-md-1">
                    <h2>VISIÓN</h2>
                    <p class="home-text-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad reprehenderit aut ipsam facilis repudiandae culpa ipsa assumenda consectetur iusto unde consequuntur pariatur, eveniet eum rerum natus obcaecati optio mollitia. Dolores.</p>
                </div>
            </div>
        </div>

        <!-- MARCAS -->
        <div class="px-3">
            <app-marcas-slider></app-marcas-slider>
        </div>

        <!-- NOSOTROS 3 -->
        <div class="nosotros3">
            <div class="row justify-content-end align-items-center pb-4 pb-xl-5">
                <div class="col-12 col-md mb-3 mb-md-0">
                    <h2>Conoce más de nuestros artesanos</h2>
                </div>
                <div class="col-12 col-md-auto">
                    <a mat-raised-button class="btn-dorado-p">VER MÁS</a>
                </div>
            </div>
            <div class="pt-4">
                <iframe width="100%" class="video-nosotros" src="https://www.youtube.com/embed/QWk6HfHl3rM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>