.td-input-number {
    max-width: 70px;
}

.table-costos {
    font-size: .8rem;
    td {
        vertical-align: middle;
        text-align    : center;
    }

    th {
        text-align: center;
    }
}

.img-product-detail {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0 1rem 1rem 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1px 5px 0 #cecece;
}

.input-cantidad {
    display: inline-block;
    width  : 150px;
}