<mat-card class="example-card shadow-none">
    <mat-card-content>
        <div class="row mb-3">
            <div class="col-12">
                <h2 class="title-addproduct">Pedidos y compras</h2>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-8 col-lg-9">
                <h2 class="text-dorado mb-5 font-bold col-12">Datos de pedido</h2>
                <div class="row">
                    <div class="col-xl-3 mb-4">
                        <label class="fw-bolder form-label">Código de pedido</label>
                        <p>PD0001</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 mb-4">
                        <label class="fw-bolder form-label">Usuario:</label>
                        <p>TARQUINO ACOSTA JUAN SEBASTIAN <button mat-button color="primary"
                                class="ms-1 mbutton-text-user">(Ver datos de usuario)</button></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-4 mb-4">
                        <label class="fw-bolder form-label">Correo:</label>
                        <p class="text-inline"><span>jacosta@gmail.com</span></p>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-4">
                        <label class="fw-bolder form-label">Teléfono:</label>
                        <p>987654321</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="card border-dark mx-auto card-resumen">
                    <div class="card-body overflow-hidden">
                        <h2 class="card-title text-center fw-bolder text-decoration-underline">Resumen de Pedido</h2>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>Subtotal:</td>
                                    <td>500</td>
                                </tr>
                                <tr>
                                    <td>Costo de envío:</td>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <td>Descuento:</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                            <br>
                            <tfoot>
                                <tr>
                                    <td class="fw-bolder">TOTAL:</td>
                                    <td class="fw-bolder">515</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <label class="fw-bolder form-label">Tipo de pedido:</label>
                    <p>Normal</p>
                </div>
                <div class="col-md-3 mb-4">
                    <label class="fw-bolder form-label">Término de pago:</label>
                    <p class="text-inline"><span>Personalizado</span></p>
                </div>
                <div class="col-md-3 mb-4">
                    <label class="fw-bolder form-label">Monto de pago:</label>
                    <p>1500.00</p>
                </div>
                <div class="col-md-3 mb-4">
                    <label class="fw-bolder form-label">Número de cuotas:</label>
                    <p>3</p>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-4 mb-4">
                    <label class="fw-bolder form-label">Dirección de envío:</label>
                    <p>Jr. Lima 358, Cercado de Lima - Lima</p>
                </div>
                <div class="col-md-3 mb-4">
                    <label class="fw-bolder form-label">Costo de envío:</label>
                    <p>15.00</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <label class="fw-bolder form-label">Fecha aproximada de envío:</label>
                    <p>15/04/2021</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-4">
                    <label class="fw-bolder form-label">Nombre de empresa:</label>
                    <p>Empresa de prueba</p>
                </div>
                <div class="col-md-3 mb-4">
                    <label class="fw-bolder form-label">RUC de empresa:</label>
                    <p class="text-inline"><span>12987654321</span></p>
                </div>
                <div class="col-md-3 mb-4">
                    <label class="fw-bolder form-label">Correo de referencia:</label>
                    <p class="text-inline"><span>empresa@gmail.com</span></p>
                </div>
                <div class="col-md-3 mb-4">
                    <label class="fw-bolder form-label">Teléfono de referencia:</label>
                    <p>987654321</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <label class="fw-bolder form-label">Adjunta logo de empresa:</label>
                    <p>No adjunto</p>
                </div>
            </div>

            <br>
            <br>
            <h2 class="text-dorado mb-5 font-bold col-12">Datos de envío</h2>
            <div class="row">
                <div class="col-auto mb-4">
                    <label class="fw-bolder form-label">Tipo de envío:</label>
                    <p>Envío a dirección</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <label class="fw-bolder form-label">Departamento de envío:</label>
                    <p>Lima</p>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <label class="fw-bolder form-label">Distrito de envío:</label>
                    <p>Lima</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <label class="fw-bolder form-label">Lugar de envío:</label>
                    <p>Jr. Lima N° 512</p>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <label class="fw-bolder form-label">Costo de envío:</label>
                    <p>25.00</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <label class="fw-bolder form-label">Empresa o medio de envío:</label>
                    <p>Olva</p>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <label class="fw-bolder form-label">Fecha estimada para envío:</label>
                    <p>12-05-2021</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-4">
                    <label class="fw-bolder form-label">Mensaje:</label>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quia! Sunt quisquam pariatur
                        iusto aut voluptates et, saepe perferendis eum dolorem in quaerat amet ad accusantium minus
                        eligendi. Eos, fuga.</p>
                </div>
            </div>
        </div>

        <br>
        <br>
        <h2 class="text-dorado mb-5 font-bold col-12">Detalle de pedido</h2>
        
        <div class="detalle-producto bg-light p-3 px-md-4 mb-4" *ngFor="let item of [1,2]">
            <div class="col-12 text-center mb-4">
                <h2>Producto {{item}}</h2>
            </div>
            <div class="d-flex mb-4">
                <div class="img-preview-mini"
                    style="background-image: url(https://material.angular.io/assets/img/examples/shiba2.jpg);"></div>
                <div class="p-3">
                    <label class="fw-bolder form-label">Nombre</label>
                    <p>Tazas de barro artesanales de la región de Puno.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-md-4 mb-4 overflow-hidden">
                            <label class="fw-bolder form-label">Código:</label>
                            <p>P0001</p>
                        </div>
                        <div class="col-md-4 mb-4 overflow-hidden">
                            <label class="fw-bolder form-label">Cantidad:</label>
                            <p>200</p>
                        </div>
                        <div class="col-md-4 mb-4 overflow-hidden">
                            <label class="fw-bolder form-label">Precio:</label>
                            <p>1500.00</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-4 overflow-hidden">
                            <label class="fw-bolder form-label">Tendrá empaque de cortesía:</label>
                            <p>Si</p>
                        </div>
                        <div class="col-md-4 mb-4 overflow-hidden">
                            <label class="fw-bolder form-label">Tendrá empaque especial:</label>
                            <p>Si</p>
                        </div>
                        <div class="col-md-4 mb-4 overflow-hidden">
                            <label class="fw-bolder form-label">Empaque especial:</label>
                            <p>Empaque de regalo 1</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <label class="fw-bolder form-label">Dedicatoria:</label>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia hic sequi ipsam ducimus assumenda minima accusantium quaerat ut reprehenderit deleniti, fuga, earum voluptas consequuntur! Sequi dolorem provident modi error nemo.</p>
                </div>
            </div>
        </div>
        
        <br><br>
        <div class="text-center">
            <a mat-button [routerLink]="['/admin/orders']" class="bg-light text-dark">Regresar</a>
        </div>
        <br>
    </mat-card-content>
</mat-card>