.header{
    position: fixed;
    width: 100%;
    z-index: 9;
    transition: all .5s;

    .header-web{
        padding: 8px 15px;
        background-color: transparent;
        box-shadow: none;
        margin: auto;
        top: 0;
    
        .navbar-brand{
            color: #fff;
            font-weight: normal;
            font-size: .9rem;
            margin-right: 1.5rem;

            span{
                font-size: .8rem;
            }
        }
        .navbar-brand-img{
            width: 26px;
        }
    }
}
.scrollHeader{
    background-color: rgb(190 138 62 / 90%);
    transition: all .5s;
}

.buttonLogin{
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;

    span {
        line-height: 1.1;
        font-size: 1rem;
    }
}


.footer-contact {
    padding         : 3rem 0;
    background-color: #E0C091;

    .footer-contact-1 p {
        font-size  : .9rem;
        line-height: normal;
        color      : #4F2D12;
        font-weight: 500;
    }
}

.footer-contact-group-button {
    justify-content: center;

    .form-floating {
        width: 250px;

        label {
            color      : #4F2D12;
            font-weight: 500;
        }

        input {
            border          : 0;
            border-radius   : 0;
            border-bottom   : 1px solid #000;
            background-color: transparent;
            color           : #4F2D12;
            box-shadow      : none;
        }
    }

    button {
        border          : 0;
        background-color: transparent !important;
        outline         : none !important;
        box-shadow      : none;
    }
}

.form-floating-custom {
    input {
        height        : 50px;
        padding-bottom: 0;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #E0C091 inset !important;
    }
}

.navbar-header {
    width: 100px;
}

.navbar-header .light-logo{
    width: 80px;
}

.mat-toolbar-single-row {
    height: auto !important;
}

.btnClose{
    background-color: #c38f46;
}


@media(min-width: 375px){
    .footer-contact-1{
        padding: 0 2rem;
    }
}

@media(min-width: 768px){
    .footer-contact {
        .footer-contact-1 p {
            font-size: 1rem;
        }
    }
    .footer-contact-1{
        padding: 0 1rem;
    }
}

@media(min-width: 992px){
    .navbar-header {
        width: auto;
    }
}

@media(min-width: 1200px){
    .header{
        .header-web{
            width: 90%;
        }
    }
    .navbar-header {
        width: 225px;
    }
    .navbar-header .light-logo{
        width: auto;
    }
}

@media(min-width:1600px) {
    .header{
        .header-web{
            .navbar-brand{
                font-size: 1.1rem;
                span{
                    font-size: .9rem;
                }
            }
            .navbar-brand-img{
                width: 28px;
            }
        }
    }

    .footer-contact {
        .footer-contact-1 p {
            font-size: 1.1rem;
        }
    }
}