<mat-card class="example-card shadow-none">
    <mat-card-content>
        <div class="row mb-5">
            <div class="col-12 col-md-8 col-lg-9">
                <div class="col-12 mb-5">
                    <h2 class="title-addproduct">Pedidos y compras</h2>
                </div>
                <div class="row">
                    <div class="col-12 mb-4">
                        <label class="fw-bolder mb-2">Código de pedido:</label>
                        <p>PD0001</p>
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                        <label class="fw-bolder mb-2">Usuario:</label>
                        <p>TARQUINO ACOSTA JUAN SEBASTIAN <button mat-button color="primary" class="ms-1 mbutton-text-user">(Ver datos de usuario)</button></p>
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                        <label class="fw-bolder mb-2">Producto:</label>
                        <p>Tazas de barro artesanales de la región de Puno.</p>
                    </div>
                    <div class="col-12 mb-4">
                        <label class="fw-bolder mb-2">Estado de pedido:</label>
                        <p>Cerrado</p>
                    </div>
                </div>
                <br>
                <h2 class="text-dorado mb-5 font-bold col-12">Enviar archivo de guía</h2>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <label class="fw-bolder form-label">Correo:</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="col-md-4 mb-4">
                        <label class="fw-bolder form-label">Asunto:</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-4">
                        <label class="fw-bolder mb-2">Adjuntar archivo:</label>
                        <input type="file" class="form-control input-file-280">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-4">
                        <label class="fw-bolder form-label">Mensaje:</label>
                        <textarea rows="4" class="form-control"></textarea>
                    </div>
                </div>
                <div class="text-right">
                    <button mat-raised-button color="primary">Enviar mensaje</button>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="card border-dark mx-auto card-resumen">
                    <div class="card-body">
                        <h2 class="card-title text-center fw-bolder text-decoration-underline">Estado de Pedido</h2>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>TOTAL:</td>
                                    <td>1515</td>
                                </tr>
                                <tr>
                                    <td>Monto pagado:</td>
                                    <td>500</td>
                                </tr>
                                <tr>
                                    <td>Número de cuotas:</td>
                                    <td>3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="text-center">
            <a mat-button color="primary" [routerLink]="['/admin/orders']">Regresar</a>
        </div>
        <br>
    </mat-card-content>
</mat-card>