.title-addproduct {
    font-size  : 1.8rem;
    line-height: normal;
}

.subtitle-addproduct {
    font-size: 1.2rem;
}

.costos-radio-group {
    display       : flex;
    flex-direction: column;
    margin        : 15px 0;
}

.costos-radio-button {
    margin: 5px;
}

.td-input-number{
    max-width: 70px;
}

.table-costos td{
    vertical-align: middle;
}