<div class="row mt-4 mx-0">
    <div class="col-12 col-md-4 col-xl-3">
        <h2 class="title-page">Empaques</h2>
        <mat-list class="list-options">
            <mat-list-item>
                <button mat-button [class.active]="buttonActive === 9" (click)="getFilterPackings(9)">Ver Todos</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button [class.active]="buttonActive === 1" (click)="getFilterPackings(1)">Ver solo activados</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button [class.active]="buttonActive === 2" (click)="getFilterPackings(2)">Ver solo desactivados</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button [class.active]="buttonActive === 0" (click)="getFilterPackings(0)">Ver archivados</button>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="col-12 col-md-8 col-xl-9">
        <div class="pb-4 d-md-flex justify-content-between align-items-center">
            <div class="col-12 col-md-4">
                <mat-form-field appearance="outline" class="input-search">
                    <mat-label>Buscar empaque</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" [routerLink]="['/admin/packing/add']" class="mt-2 mt-md-0">Agregar nuevo empaque</button>
        </div>

        <div class="col-12">
            <mat-spinner *ngIf="loading" diameter="80" class="mx-auto"></mat-spinner>
            <h2 *ngIf="msgNoData">No se encontraron resultados.</h2>
        </div>

        <div class="pb-3 row" *ngIf="!loading">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-0" *ngFor="let item of listPackings">
                <app-packing-card [data]="item"></app-packing-card>
            </div>
        </div>
        <br>
    </div>
</div>