<!-- ============================================================== -->
<!-- MenuFooterMovil -->
<!-- ============================================================== -->
<div class="menuFooterMovil d-md-none">
    <div class="d-flex justify-content-between align-items-center">
        <button class="btn">
            <img src="assets/images/header/icono1.png" class="navbar-brand-img">
        </button>
        <button class="btn">
            <img src="assets/images/header/icono2.png" class="navbar-brand-img">
        </button>
        <button class="btn">
            <img src="assets/images/header/icono3.png" class="navbar-brand-img">
        </button>
    </div>
</div>
<!-- ============================================================== -->
<!-- MenuFooterMovil -->
<!-- ============================================================== -->
<div class="footer-pages">
    <div class="row col-lg-11 mx-auto">
        <div class="col-12 col-lg-5 col-xl-6">
            <div class="row justify-content-center justify-content-lg-start">
                <div class="col-auto col-footer">
                    <h3>SERVICIO AL CLIENTE</h3>
                    <div><a routerLink="/preguntas-frecuentes" class="d-inline-block">Preguntas Frecuentes</a></div>
                    <div><a routerLink="/terminos-condiciones" class="d-inline-block">Términos y Condiciones</a></div>
                    <div><a routerLink="/cambios-devoluciones" class="d-inline-block">Cambios y Devoluciones</a></div>
                    <div><a routerLink="/tiempos-entrega" class="d-inline-block">Tiempos de Entrega</a></div>
                </div>
                <div class="col-auto col-footer col-account d-none d-md-block d-lg-none d-xl-block">
                    <h3>MI CUENTA</h3>
                    <div><a routerLink="" class="d-inline-block">Mis datos</a></div>
                    <div><a routerLink="" class="d-inline-block">Mis Pedidos</a></div>
                    <div><a routerLink="" class="d-inline-block">Mensajes</a></div>
                </div>
                <div class="col-auto col-footer">
                    <h3>NOSOTROS</h3>
                    <div><a routerLink="/nosotros" class="d-inline-block">Conócenos</a></div>
                    <div><a routerLink="/artesanos" class="d-inline-block">Artesanos</a></div>
                    <div><a routerLink="/contactenos" class="d-inline-block">Contáctenos</a></div>
                    <div><a routerLink="/blog" class="d-inline-block">Blog</a></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-7 col-xl-6">
            <div class="row row-cols-3 justify-content-center justify-content-lg-start">
                <div class="col-12 col-md-auto col-xl col-footer text-center text-md-start">
                    <h3>REDES SOCIALES</h3>
                    <div class="footer-redes">
                        <a href="" class="d-inline-block me-3">
                            <img src="assets/images/footer/facebook.png" alt="Facebook">
                        </a>
                        <a href="" class="d-inline-block">
                            <img src="assets/images/footer/instagram.png" alt="Instagram">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-auto col-xl col-footer text-center text-md-start">
                    <h3>MÉTODOS DE PAGO</h3>
                    <div class="footer-payment">
                        <img src="assets/images/footer/visa.png" alt="Visa" class="img-fluid me-3">
                        <img src="assets/images/footer/mastercard.png" alt="Mastercad" class="img-fluid me-3">
                        <img src="assets/images/footer/diners.png" alt="Diners Club" class="img-fluid">
                    </div>
                </div>
                <div class="col-12 col-md-auto col-xl col-footer text-center">
                    <a href="">
                        <img src="assets/images/footer/libror.png" alt="Libro de Reclamaciones" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br><br class="d-xxl-block">
    <div class="row col-lg-11 mx-auto footer-page2">
        <div class="col-md-6 text-center text-md-start">
            <span class="px-3 py-md-3">© Piska. Todos los derechos reservados.</span>
        </div>
        <div class="col-md-6 text-center text-md-end">
            <a href="https://katanastudio.pe" target="_blank" class="p-3">Diseñado por Katana Studio</a>
        </div>
    </div>
</div>